{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{# Commentaires : formulaire de création ou de modification des classes  #}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>


<div class="well">
{{ form_start(classeForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(classeForm.nom, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(classeForm.nom) }}
            {{ form_widget(classeForm.nom, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(classeForm.idNiveau, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(classeForm.idNiveau) }}
            {{ form_widget(classeForm.idNiveau, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(classeForm.idAnnee, 'Année :', { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(classeForm.idAnnee) }}
            {{ form_widget(classeForm.idAnnee, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>


    <div class="form-group">

        <div class="col-sm-offset-4 col-sm-6">
         <a  class="btn btn-default" href="{{   path('niveau_classes') }}">Annuler</a>
         <input type="submit" class="btn btn-primary" value="Enregistrer" />
        </div>
    </div>
{{ form_end(classeForm) }}
</div>
{% endblock %}
