{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{# Commentaires : formulaire de création ou de modification des eleves  #}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>


<div class="well">
{{ form_start(eleveForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(eleveForm.nom, 'Nom', { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(eleveForm.nom) }}
            {{ form_widget(eleveForm.nom, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(eleveForm.prenom, 'Prénom', { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(eleveForm.prenom) }}
            {{ form_widget(eleveForm.prenom, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(eleveForm.idClasse, 'Classe', { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(eleveForm.idClasse) }}
            {{ form_widget(eleveForm.idClasse, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(eleveForm.idSexe, 'Sexe', { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(eleveForm.idSexe) }}
            {{ form_widget(eleveForm.idSexe, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
            }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(eleveForm.idUtilisateur, 'Compte', { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_errors(eleveForm.idUtilisateur) }}
            {{ form_widget(eleveForm.idUtilisateur, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>



    <div class="form-group">

        <div class="col-sm-offset-4 col-sm-6">
         <a  class="btn btn-default" href="{{   path('classe_eleves') }}">Annuler</a>
         <input type="submit" class="btn btn-primary" value="Enregistrer" />
        </div>
    </div>
{{ form_end(eleveForm) }}
</div>
{% endblock %}
